// Breakpoint Variablen
$mobile: 768px
$tablet: 1024px
$desktop: 1240px
	
// Farben Variablen
$weiss: rgba(255,255,255, 1)
$schwarz100: rgba(0,0,0, 1)
$schwarz75: rgba(0,0,0,0.75)
$grau76: rgba(118,118,118, 1)
$grauC2: rgba(194,194,194, 1)
$grauE5: rgba(229,229,229, 1)
$grauF0: rgba(240,240,240, 1)
$hipHopPink: #d81b60
$hipHopPinkHell: #e91e63
$jazzGelb: #fdd835
$jazzGelbHell: #ffeb3b
$indieMint: #00d79f
$indieMintHell: #1de9b6
$popRockBlau: #3949ab
$popRockBlauHell: #3f51b5
$electronicViolett: #5e35b1
$electronicViolettHell: #673ab7

// Font Familys Variablen
$fontFamilySerif: 'Roboto Slab', serif
$fontFamilySansSerif: 'Montserrat', sans-serif

// Font Grössen Mobile Variablen
$fontSizeMobileH1: 32px
$fontSizeMobileH2: 24px
$fontSizeMobileH3: 20px
$fontSizeMobileBig: 48px

// Font Grössen Tablet Variablen
$fontSizeTabletH1: 48px
$fontSizeTabletH2: 32px
$fontSizeTabletH3: 20px
$fontSizeTabletBig: 96px

// Font Grössen Desktop Variablen
$fontSizeDesktopH1: 56px
$fontSizeDesktopH2: 32px
$fontSizeDesktopH3: 20px
$fontSizeDesktopBig: 144px

// Font Grössen General Variablen
$fontSizeLead: 20px
$fontSizeCopy: 17px
$fontSizeLabels: 17px
$fontSizeBtnTabs: 17px
$fontSizeZusatzinfos: 13px

// Global Styles: H-Titel
h1, h2, h3, h4, h5, h6
	font-family: $fontFamilySerif

// Global Styles: p
p 
	font-family: $fontFamilySansSerif

// Global Styles: Buttons
button
	background-color: $schwarz75
	border-radius: 0px
	border: 2px solid $schwarz75
	padding: 10px 20px 10px 20px
	text-transform: uppercase
	color: $weiss
	font-weight: bold
button.light
		background-color: $weiss
		color: $schwarz75
		border: 2px solid $schwarz75

button:hover
	background-color: $grauC2
	color: $schwarz75

button.light:hover
		background-color: $grauC2
		color: $schwarz75

//_______________________________________________________________


// Global Styles: Main Size, Fonts
@media screen and ( min-width: $mobile )
	h1
		font-size: $fontSizeMobileH1
	p
		font-size: $fontSizeCopy
	main
		width: 100%
		margin-left: auto
		margin-right: auto

@media screen and ( min-width: $tablet )
	h1
		font-size: $fontSizeTabletH1

@media screen and ( min-width: $desktop )
	h1
		font-size: $fontSizeDesktopH1
	main
		max-width: 1600px


//_______________________________________________________________


// Body
body
	padding: 24px

// Header
header
	background-color: yellow

// Main
main
	background-color: lightgrey

// Footer
footer
	background-color: red


//_______________________________________________________________



// Home: Entry
.wrapper__home-entry
	h1
		color: $schwarz75
		text-align: center
	
	p
		color: $schwarz100
		text-align: center

// Home: Genre Filters
.wrapper__filter

.filter__toggle
	button
		margin-left: auto
		margin-right: auto
		width: 100%
	// Tablet
	@media screen and ( min-width: $tablet )
		button
			display: none
	// Desktop
	@media screen and ( min-width: $desktop )
		button
			display: none

.filter__genres-list
	display: none
	ul
		list-style: none
		margin: 0
		padding: 0
		display: flex
		flex-wrap: wrap
		justify-content: center
	li
		padding: 8px
		margin: 8px
		background-color: red
	li:last-child
		background-color: transparent
		text-decoration: underline
	// Tablet
	@media screen and ( min-width: $tablet )
		display: block
	// Desktop
	@media screen and ( min-width: $desktop )
		display: block

.filter__action
	display: none
	justify-content: center
	button
		margin: 8px
		width: 100%
	// Tablet
	@media screen and ( min-width: $tablet )
		display: flex
		button
			width: 50%
	// Desktop
	@media screen and ( min-width: $desktop )
		display: flex
		button
			width: 25%


// Home: Image
.wrapper__hero-img
	background-color: green
	width: 100%
	height: 100px
	// img


// Home: Magazin			
.wrapper__magazin
	h2
		font-size: $fontSizeMobileH2
		text-align: center
	.magazin__masonry
		display: grid
		list-style: none
		margin: 0
		padding: 0
  		
		grid-template-columns: repeat(1, 1fr)
		grid-auto-rows: auto
		justify-items: center
		grid-gap: 1em
		// Tablet
		@media screen and ( min-width: $tablet )
			grid-template-columns: repeat(2, 1fr)
		// Desktop
		@media screen and ( min-width: $desktop )
			grid-template-columns: repeat(3, 1fr)
	.magazin__post
		background-color: red
		width: 100%
		h3
			font-size: $fontSizeMobileH3
		p
			font-size: $fontSizeCopy
		a
			font-size: $fontSizeCopy
			text-transform: uppercase
			text-decoration: underline
			color: $schwarz75
		a:hover
			color: $schwarz100
		@media screen and ( min-width: $tablet )
			h3
			font-size: $fontSizeTabletH3
			a
				display: none
		// Desktop
		@media screen and ( min-width: $desktop )
			h3
			font-size: $fontSizeDesktopH3
			a
				display: none
		

	.magazin__post:nth-child(1n+4)
		display: none
		// Tablet
		@media screen and ( min-width: $tablet )
			display: block
		// Desktop
		@media screen and ( min-width: $desktop )
			display: block

	.magazin__post-more
		display: flex
		justify-content: center
		button
			width: 100%
		// Tablet
		@media screen and ( min-width: $tablet )
			button
				width: 25%
		// Desktop
		@media screen and ( min-width: $desktop )
			button
				width: 25%


// Home: App Banner														
.wrapper__app-bannner
	background-color: green
// 		  	.app__image
// 			  img
// 			.app__text
// 				h2
// 				button
// 				img
					
// Home: Entdeckungen
.wrapper__entdeckungen
		background-color: red
// 		h2
// 		p

// Home: News			
.wrapper__news
	background-color: green
// 		h2
// 		ul
// 			.news__masonry
// 				li
// 					.news__post
// 						img
// 						p