//* _________________________VARIABLEN_________________________
// Variablen: Breakpoints
$mobile: 375px
$tablet: 768px
$desktop: 1240px
	
// Variablen: Farben
$weiss: rgba(255,255,255, 1)
$schwarz100: rgba(0,0,0, 1)
$schwarz75: rgba(0,0,0,0.75)
$grau76: rgba(118,118,118, 1)
$grauC2: rgba(194,194,194, 1)
$grauE5: rgba(229,229,229, 1)
$grauF0: rgba(240,240,240, 1)
$hipHopPink: #d81b60
$hipHopPinkHell: #e91e63
$jazzGelb: #fdd835
$jazzGelbHell: #ffeb3b
$indieMint: #00d79f
$indieMintHell: #1de9b6
$popRockBlau: #3949ab
$popRockBlauHell: #3f51b5
$electronicViolett: #5e35b1
$electronicViolettHell: #673ab7

// Variablen: Font Familys
$fontFamilySerif: 'Roboto Slab', serif
$fontFamilySansSerif: 'Montserrat', sans-serif

// Variablen: Font Grössen Mobile
$fontSizeMobileH1: 32px
$fontSizeMobileH2: 24px
$fontSizeMobileH3: 20px
$fontSizeMobileBig: 48px

// Variablen: Font Grössen Tablet
$fontSizeTabletH1: 48px
$fontSizeTabletH2: 32px
$fontSizeTabletH3: 20px
$fontSizeTabletBig: 96px

// Variablen: Font Grössen Desktop
$fontSizeDesktopH1: 56px
$fontSizeDesktopH2: 32px
$fontSizeDesktopH3: 20px
$fontSizeDesktopBig: 144px

// Variablen: Font Grössen General 
$fontSizeLead: 20px
$fontSizeCopy: 17px
$fontSizeLabels: 17px
$fontSizeBtnTabs: 17px
$fontSizeZusatzinfos: 13px

//* _________________________FONTS_________________________
h1
	font-size: $fontSizeMobileH1
	font-family: $fontFamilySerif
h2
	font-size: $fontSizeMobileH2
	font-family: $fontFamilySerif
h3
	font-size: $fontSizeMobileH3
	font-family: $fontFamilySerif
p, button, li, span
	font-size: $fontSizeCopy
	font-family: $fontFamilySansSerif
.festival-titel
	font-family: $fontFamilySerif
	font-size: $fontSizeMobileBig
.lead
	font-family: $fontFamilySerif
	font-size: $fontSizeLead
.label
	font-family: $fontFamilySansSerif
	font-size: $fontSizeLabels
.btn, .tabs
	font-family: $fontFamilySansSerif
	font-size: $fontSizeBtnTabs
.zusatzinfo
	font-family: $fontFamilySansSerif
	font-size: $fontSizeZusatzinfos
	
@media screen and ( min-width: $tablet ) // Tablet
	h1
		font-size: $fontSizeTabletH1
		font-family: $fontFamilySerif
	h2
		font-size: $fontSizeTabletH2
		font-family: $fontFamilySerif
	h3
		font-size: $fontSizeTabletH3
		font-family: $fontFamilySerif
	.festival-titel
		font-size: $fontSizeTabletBig

@media screen and ( min-width: $desktop ) // Desktop
	h1
		font-size: $fontSizeDesktopH1
		font-family: $fontFamilySerif
	h2
		font-size: $fontSizeDesktopH2
		font-family: $fontFamilySerif
	h3
		font-size: $fontSizeDesktopH3
		font-family: $fontFamilySerif
	.festival-titel
		font-size: $fontSizeDesktopBig


//* _________________________LINKS_________________________
a
	color: $schwarz100
a:hover
	color: $grau76


button:hover
	cursor: pointer
label:hover
	cursor: pointer

//* _________________________BUTTONS_________________________
// Button ausgefüllt
button
	background-color: $schwarz100
	border-radius: 0px
	border: 2px solid $schwarz100
	padding: 10px 32px 10px 32px
	text-transform: uppercase
	color: $weiss
	font-weight: bold
	height: 48px
	width: 100%
	@media screen and ( min-width: $tablet ) // Tablet
		width: 343px
	@media screen and ( min-width: $desktop ) // Desktop
		width: 343px
button:hover
	background-color: $grau76
	border: 2px solid $grau76
	color: $weiss

// Button gerahmt
button.light
		background-color: $weiss
		color: $schwarz100
		border: 2px solid $schwarz100
button.light:hover
		background-color: $schwarz100
		color: $weiss
// Button gerahmt - reversed
button.lightreversed
		background-color: $schwarz100
		color: $weiss
		border: 2px solid $weiss
button.lightreversed:hover
		background-color: $weiss
		color: $schwarz100
		border: 2px solid $weiss

//* _________________________CONTAINERS_________________________
// Body
body
	padding: 24px

// Header
header
	background-color: yellow

// Main
main
	background-color: white
	width: 100%
	margin-left: auto
	margin-right: auto
	@media screen and ( min-width: $tablet ) // Tablet
		width: 100%
	@media screen and ( min-width: $desktop ) // Desktop
		max-width: 1600px

// Footer
footer
	background-color: red

//* _________________________VISIBLE / NOT VISIBLE_________________________
.visible__flex
	display: flex
	visibility: visible
.visible__grid
	display: grid
	visibility: visible
.visible__block
	display: block
	visibility: visible
.notvisible
	display: none
	visibility: hidden


//* _________________________SITE-STYLES_________________________

//! Home: Entry & Genre Filters
.wrapper__home-entry
	padding: 10px
	@media screen and ( min-width: $tablet ) // Tablet
		padding: 40px
	@media screen and ( min-width: $desktop ) // Desktop
		padding: 80px
	h1
		text-align: center
	p
		text-align: center
	.filter__toggle
		button
		@media screen and ( min-width: $tablet ) // Tablet
			button
				display: none
		@media screen and ( min-width: $desktop ) // Desktop
			button
				display: none

	.filter__genres-list
		display: none
		justify-content: center
		ul
			list-style: none
			margin: 0
			padding: 0
			display: flex
			flex-wrap: wrap
			flex-direction: column
			align-items: center
		.filter__genres-item
			width: auto
			height: 24px
			padding-left: 12px
			padding-right: 16px
			padding-top: 12px
			padding-bottom: 12px
			margin: 12px
			background-color: $grauC2
			color: $weiss
			display: flex
			align-items: center
			.filter__genres-item-icon
				height: 24px
				width: 24px
				background-color: red
				margin-right: 24px
			.filter__genres-item-zaehler
				align-self: flex-start
				margin-top: 0px
				font-size: 8px
		.filter__genres-more
			background-color: transparent
			text-decoration: underline
		@media screen and ( min-width: $tablet ) // Tablet
			display: block
			ul
				flex-direction: row
				justify-content: center
		@media screen and ( min-width: $desktop ) // Desktop
			display: block
			ul
				flex-direction: row
				justify-content: center

	// Checkboxen ausblenden
	.filter__genres-item-checkbox
		display: none
		visibility: hidden

	// Genre-Filter färben
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-jazz // Jazz
		background-color: $jazzGelb
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-hiphop // Hiphop
		background-color: $hipHopPink
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-indie // Indie
		background-color: $indieMint
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-pop-und-rock // Pop & Rock
		background-color: $popRockBlau
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-electronic // Electronic
		background-color: $electronicViolett
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-musik1 // Musik 1
		background-color: red
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-musik2 // Musik 2
		background-color: red
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-musik3 // Musik 3
		background-color: red
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-musik4 // Musik 4
		background-color: red
	.filter__genres-item-checkbox:checked + .filter__genres-item-label #label-li-musik5 // Musik 5
		background-color: red



	.filter__action
		display: none
		flex-direction: column-reverse
		justify-content: center
		width: 100%
		button
			margin-bottom: 12px
		@media screen and ( min-width: $tablet ) // Tablet
			display: flex
			flex-direction: row
			justify-content: center
			column-gap: 16px
		@media screen and ( min-width: $desktop ) // Desktop
			display: flex
			flex-direction: row
			justify-content: center
			column-gap: 16px


//! Home: Image
.wrapper__hero-img
	background-color: yellow
	width: 100%
	height: 300px


//! Home: Magazin			
.wrapper__magazin
	padding: 10px
	@media screen and ( min-width: $tablet ) // Tablet
		padding: 40px
	@media screen and ( min-width: $desktop ) // Desktop
		padding: 80px
	h2
		text-align: center
	.magazin__masonry-container
		display: grid
		grid-template-columns: repeat(1, 1fr)
		grid-auto-rows: auto
		justify-items: center
		grid-gap: 1em
		@media screen and ( min-width: $tablet ) // Tablet
			grid-template-columns: repeat(2, 1fr)
		@media screen and ( min-width: $desktop ) // Desktop
			grid-template-columns: repeat(3, 1fr)
	.magazin__post
		width: 100%
		a
			text-transform: uppercase
			text-decoration: underline
		@media screen and ( min-width: $tablet ) // Tablet
			a
				display: none
		@media screen and ( min-width: $desktop ) // Desktop
			a
				display: none
		
	.magazin__post:nth-child(1n+4)
		display: none
		@media screen and ( min-width: $tablet ) // Tablet
			display: block
		@media screen and ( min-width: $desktop ) // Desktop
			display: block

	.magazin__post-more
		display: flex
		justify-content: center
		

//! Home: App Banner														
.wrapper__app-banner
	background-color: $schwarz100
	height: 432px
	display: grid
	grid-template-columns: 1fr 2fr
	grid-template-rows: 1fr 1fr 1fr
	margin-top: 100px
	.app__image
		grid-column: 1 / 4
		display: flex
		justify-content: center
		img
			display: block
			height: 160px
			width: 80px
			margin-top: -50px
			background-color: yellow
	.app__text	
		grid-column: 1 / 4
		display: flex
		flex-wrap: wrap
		flex-direction: column
		align-items: center
		.app__text-titel
			h2
				text-align: center
				color: $weiss
		.app__text-button
			button
				display: inline-block
				width: auto
		.app__text-stores
			grid-column: 1 / 4
			display: flex
			flex-wrap: wrap
			justify-content: center
			flex-direction: row
			align-items: center
			img
				background-color: yellow
	@media screen and ( min-width: $tablet ) // Tablet
		height: 440px
		display: grid
		grid-template-columns: 1fr 2fr
		grid-template-rows: 1fr 1fr 1fr
		margin-top: 30px
		.app__image
			grid-column: 1 / 2
			display: flex
			justify-content: flex-end
			img
				display: block
				height: 400px
				width: 230px
				margin-top: -20px
				background-color: yellow
		.app__text	
			grid-column: 2 / 4
			justify-content: flex-start
			display: grid
			grid-template-columns: 1fr 1fr
			.app__text-titel
				grid-column: 1 / 3
				h2
					text-align: left
					color: $weiss
			.app__text-button
				grid-column: 1/3
				button
					display: inline-block
					width: auto
			.app__text-stores
				grid-column: 1 / 3
				display: flex
				flex-wrap: wrap
				justify-content: flex-start
				flex-direction: row
				align-items: center
				img
					background-color: yellow
	@media screen and ( min-width: $desktop ) // Desktop
		height: 376px
		display: grid
		grid-template-columns: 1fr 2fr
		grid-template-rows: 1fr 1fr 1fr
		margin-top: 30px
		.app__image
			grid-column: 1 / 2
			display: flex
			justify-content: flex-end
			img
				display: block
				height: 400px
				width: 230px
				margin-top: -20px
				background-color: yellow
		.app__text	
			grid-column: 2 / 4
			justify-content: flex-start
			display: grid
			grid-template-columns: 1fr 1fr
			.app__text-titel
				grid-column: 1 / 3
				h2
					text-align: left
					color: $weiss
			.app__text-button
				grid-column: 1/2
				button
					display: inline-block
					width: auto
			.app__text-stores
				grid-column: 2/3
				display: flex
				flex-wrap: wrap
				justify-content: flex-start
				flex-direction: row
				align-items: center
				img
					background-color: yellow


//! Home: Entdeckungen
.wrapper__entdeckungen
	h2
		text-align: center
	p
		text-align: center
	.entdeckungen__music-container
		display: flex
		flex-direction: column
		align-items: stretch
		.entdeckungen__music-track-jazz
			display: flex
			justify-content: center
			background-image: url("https://cdn.pixabay.com/photo/2016/04/07/22/09/water-1314955_960_720.png")
			background-position: center
			background-size: contain
			height: 150px
			margin-bottom: 20px
		.entdeckungen__music-track-rock
			display: flex
			justify-content: center
			background-image: url("https://cdn.pixabay.com/photo/2016/04/07/22/09/water-1314955_960_720.png")
			background-position: center
			background-size: contain
			height: 150px
			margin-bottom: 20px
		.entdeckungen__music-track-pop
			display: flex
			justify-content: center
			background-image: url("https://cdn.pixabay.com/photo/2016/04/07/22/09/water-1314955_960_720.png")
			background-position: center
			background-size: contain
			height: 150px
			margin-bottom: 20px
		.entdeckungen__music-track-blues
			display: flex
			justify-content: center
			background-image: url("https://cdn.pixabay.com/photo/2016/04/07/22/09/water-1314955_960_720.png")
			background-position: center
			background-size: contain
			height: 150px
			margin-bottom: 20px
		.entdeckungen__music-track-hiphop
			display: flex
			justify-content: center
			background-image: url("https://cdn.pixabay.com/photo/2016/04/07/22/09/water-1314955_960_720.png")
			background-position: center
			background-size: contain
			height: 150px
			margin-bottom: 20px
		.entdeckungen__music-track-more
			display: flex
			justify-content: center
    


//! Home: News			
.wrapper__news
	padding: 10px
	@media screen and ( min-width: $tablet ) // Tablet
		padding: 40px
	@media screen and ( min-width: $desktop ) // Desktop
		padding: 80px
	h2
		text-align: center
	.news__masonry-container
		display: grid
		grid-template-columns: repeat(1, 1fr)
		grid-auto-rows: auto
		justify-items: center
		grid-gap: 1em
		@media screen and ( min-width: $tablet ) // Tablet
			grid-template-columns: repeat(3, 1fr)
		@media screen and ( min-width: $desktop ) // Desktop
			grid-template-columns: repeat(5, 1fr)
	.news__post
		width: 100%
		img
			height: 150px
			width: 100%
			background-color: yellow
	.news__post:nth-child(1n+5) // Post >5 ausblenden auf Mobile
		display: none
		@media screen and ( min-width: $tablet ) // Tablet
			display: block
		@media screen and ( min-width: $desktop ) // Desktop
			display: block
	.news__post:nth-child(1n+10) // Post >9 ausblenden auf Desktop
		@media screen and ( min-width: $tablet ) // Tablet
			display: none
		@media screen and ( min-width: $desktop ) // Desktop
			display: block
	.news__post-more
		display: flex
		justify-content: center