## .html Dateiendung entfernen
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [QSA,L]
# URL mit Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^[^/]+$ %{REQUEST_URI}/ [L,R=301]
# Unterverzeichnis "Checkout" auf Login-Seite weiterleiten
Redirect 301 /checkout/ http://localhost:3000/checkout/login/